.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#autocompleteContainer {
  position: absolute;
  width: 100%;
  background-color: rgb(211, 211, 211);
  z-index: 99;
  box-sizing: border-box;
  box-shadow: 5px 5px 6px -1px rgba(0, 0, 0, 0.26);
  overflow-y: scroll;
}
.suggestionDiv {
  border-bottom: 1px solid #0d86dd7c;
  background-color: #ffffff;
  height: 30px;
  font-size: 16px;
  text-align: left;
}
.suggestionDiv:hover {
  background-color: #dddddd;
  border-left: 5px solid #0784dd;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .suggestionDiv {
    height: 30px;
    font-size: 14px;
  }
  #autocompleteContainer {
    width: 200%;
  }
}
