.draw-border {
  box-shadow: inset 0 0 0 2px #494949;
  color: #616161;
  transition: color 0.12 s 0.0833333333s;
  position: relative;
}
.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}
.draw-border::after {
  border-top-width: 2px;
  border-right-width: 2px;
}
.draw-border:hover {
  color: #000000;
}
.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #0784dd;
  transition: border-color 0s, width 0.1s, height 0.1s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.12s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.12s, 0s;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 600 0.8rem "Heebo", sans-serif;
  padding: 0.7em 1.4em;
  letter-spacing: 0.05rem;
  background-color: #f0f0f0;
}
@media screen and (max-width: 1100px) {
  .btn {
    padding: 0.5em 1.3em;
  }
}
