:root {
  --mainColor: #4877fb;
  --secondaryColor: #f8f9fa;
  --mainFont: "Poppins", sans-serif;
}
body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#landingPage {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 5% 56% auto;

  font-family: var(--mainFont);
  width: 100%;
  height: 100%;
}
#navBar {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
}
#topHorizSect {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: var(--mainColor);
}
#bottomHorizSect {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: var(--secondaryColor);
}
@media screen and (max-width: 599px) and (min-width: 350px) {
  #landingPage {
    grid-template-rows: 7% 85% auto;
  }
}
@media screen and (max-width: 350px) {
  #landingPage {
    grid-template-rows: 7% 95% auto !important;
  }
}
@media screen and (max-height: 630px) and (min-height: 430px) {
  #landingPage {
    grid-template-rows: 7% 80% auto;
    min-height: 650px;
  }
}
@media screen and (max-height: 429px) {
  #landingPage {
    grid-template-rows: 7% 90% 0% auto;
    min-height: 650px;
  }
}
