#navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#navLeft {
  flex: 1 1 40%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
#navRight {
  flex: 1 1 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#appTitle {
  padding-left: 12vw;
  font-size: 20px;
  font-weight: 700;
}
#navLinks,
.navlink {
  display: inline;
}
#navLinks {
  margin: 0;
  padding-top: 12px;
}
.navlink {
  margin-left: 8px;
  margin-right: 8px;
}
@media screen and (max-width: 600px) {
  #appTitle {
    padding-left: 4vw;
    font-size: 18px;
  }
  #navBar {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}
