#statusIndicator > img {
  width: 50px;
}
#statusIndicator {
  display: inline;
  position: absolute;
  bottom: 5%;
  right: 50%;
  z-index: 99;
  visibility: hidden;
}
#errorIndicator > img {
  width: 100px;
}
#errorIndicator {
  display: inline;
  position: absolute;
  bottom: 5%;
  right: 50%;
  z-index: 99;
  visibility: hidden;
}
@media screen and (max-width: 600px) {
  #errorIndicator,
  #statusIndicator {
    right: 45%;
  }
}
