@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 700px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
userPanel {
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  display: grid;
  grid-template-columns: auto 35%;
  grid-template-rows: 3.5% auto;
}

#leftSection {
  grid-column-start: 0;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: #b6ccfe;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* -----------------------------------right section----------------------------------- */
#rightSection {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: #ffffff;
  box-shadow: -2px 0px 5px 0px #0000003b;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#rightSection > div {
  width: 100%;
  box-sizing: border-box;
}
#rtopSection {
  flex: 2 2 10%;
  font-size: 2.1em;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  padding-top: 45px;
  padding-left: 30px;
  padding-bottom: 5vh;
}
#rcenterSection {
  flex: 5 5 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  max-height: 60%;
}

#routineContainerTitle {
  margin: 0;
  padding-left: 10px;
  border-left: 5px solid #0784dd;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.workoutSumRow {
  flex: 0 0 42px;
  width: 70%;
  background-color: #91d1ff;
  margin-bottom: 25px;
  border: 1px solid #00000018;
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0);
  cursor: pointer;

  font-size: 1.3em;
  font-family: "Heebo", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.workoutSumRow.selected {
  flex: 0 0 40px;
  width: 70%;
  border-radius: 0px;
  background-color: #59b9fd;
  color: black;
  margin-bottom: 25px;
  border-left: 8px solid #030303;
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0);
  cursor: pointer;

  font-size: 1.3em;
  font-family: "Heebo", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#exerciseName {
  flex: 1 1 75%;
  padding-left: 40px;
}
#imageDiv {
  flex: 1 1 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#arrowImage {
  max-width: 20px;
  display: none;
}
/* -----------------------------------bottom section----------------------------------- */
#rbottomSection {
  flex: 3 3 30%;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#addWorkoutBut {
  height: 30px;
  width: 150px;
  border-radius: 0px;
  background-color: #ffd3aa;
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.363);
  cursor: pointer;

  font-size: 0.96em;
  font-family: "Heebo", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#addWorkoutBut:hover {
  background-color: #f7be89;
}
#addWorkoutBut.changed {
  height: 30px;
  width: 150px;
  border-radius: 0px;
  background-color: #ffd3aa;
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.363);
  cursor: pointer;

  font-size: 0.96em;
  font-family: "Heebo", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#startWorkoutBut {
  margin-top: 10px;
  height: 45px;
  width: 220px;
  border-radius: 1px;
  border: 1px solid #abff843f;
  background-color: #bdf5aa;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.26);

  font-size: 1.4em;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}
#startWorkoutBut:hover {
  background-color: #a5ff88;
}
#deleteRoutineBut {
  margin-top: 30px;
  color: #797979;
  cursor: pointer;
  visibility: hidden;
}
#deleteRoutineBut:hover {
  color: #0a0a0a;
}
@media screen and (max-width: 1100px) {
  userPanel {
    grid-template-columns: auto 45%;
  }
  #rtopSection {
    font-size: 1.9em;
    padding-top: 35px;
    padding-left: 20px;
  }
  .workoutSumRow {
    width: 82%;
    margin-bottom: 19px;
    font-size: 1.2em;
  }
  .workoutSumRow.selected {
    width: 82%;
    margin-bottom: 19px;
    font-size: 1.2em;
  }
  #rbottomSection {
    flex: 3 3 20%;
  }
}
@media screen and (max-width: 799px) {
  userPanel {
    grid-template-columns: 100%;
    grid-template-rows: 5% auto;
  }
  #rightSection {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  #leftSection {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    display: none;
  }
}
