.exerciseRowContainer > #exerciseContainer > exrow {
  background-color: #b1d5ff;
  height: 35px;
  width: 500px;

  font-size: 21px;
  font-family: "Heebo", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: row;
}
.exerciseRowContainer > sets {
  display: none !important;
}

.exerciseRowContainer > #exerciseContainer > exrow > exname,
exsets,
exrest {
  display: flex;
  justify-content: left;
  align-items: center;
}

.exerciseRowContainer > #exerciseContainer > exrow > exname {
  flex: 35 1 0;
  padding-left: 25px;
}
.exerciseRowContainer > #exerciseContainer > exrow > exnsets {
  flex: 25 1 0;
}
.exerciseRowContainer > #exerciseContainer > exrow > exrest {
  flex: 40 1 0;
  justify-content: center !important;
}

#image {
  height: 30px;
}

#setRowContainer {
  display: flex;
  flex-direction: row;
  width: 56%;
}
#checkmark {
  flex: 1 1 10%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  background-color: #e9ebff;
  visibility: hidden;
}
#exerciseContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .exerciseRowContainer {
    width: 100%;
  }
  .exerciseRowContainer > #exerciseContainer > exrow {
    background-color: #b1d5ff;
    height: 37px;
    width: 100%;

    font-size: 16px;
    font-weight: 500;

    display: flex;
    flex-direction: row;
  }
  .exerciseRowContainer > #exerciseContainer > exrow > exname {
    flex: 55 1 0;
    padding-left: 2px;
  }
  .exerciseRowContainer > #exerciseContainer > exrow > exnsets {
    flex: 30 1 0;
  }
  .exerciseRowContainer > #exerciseContainer > exrow > exrest {
    flex: 15 1 0;
    justify-content: center !important;
  }
  #setRowContainer {
    width: 85%;
  }
  #image {
    height: 20px;
  }
}
