.exerciseRowContainer {
  width: 100%;
}
.exerciseRowContainer > #exerciseContainer > exrow {
  background-color: #b1d5ff;
  height: 35px;
  width: 62%;
  border-radius: 3px;

  font-size: 19px;
  font-family: "Heebo", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: row;
}
.exerciseRowContainer > sets {
  display: none !important;
}

.exerciseRowContainer > #exerciseContainer > exrow > exname,
exsets,
exrest {
  display: flex;
  justify-content: left;
  align-items: center;
}

.exerciseRowContainer > #exerciseContainer > exrow > exname {
  flex: 45 1 0;
  padding-left: 25px;
}
.exerciseRowContainer > #exerciseContainer > exrow > exnsets {
  flex: 25 1 0;
}
.exerciseRowContainer > #exerciseContainer > exrow > exrest {
  flex: 30 1 0;
  justify-content: center !important;
}

#image {
  height: 30px;
}

#setRowContainer {
  display: flex;
  flex-direction: row;
  width: 56%;
}
#checkmark {
  flex: 1 1 10%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  background-color: #e9ebff;
  visibility: hidden;
}
#exerciseContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 1000px) and (min-width: 500px) {
  .exerciseRowContainer > #exerciseContainer > exrow {
    font-size: 17px;
  }
}
@media screen and (max-width: 830px) and (min-width: 700px) {
  .exerciseRowContainer > #exerciseContainer > exrow {
    width: 75%;
  }
  .exerciseRowContainer > #exerciseContainer > exrow > exname {
    flex: 50 1 0;
    padding-left: 20px;
  }
  .exerciseRowContainer > #exerciseContainer > exrow > exnsets {
    flex: 25 1 0;
  }
  .exerciseRowContainer > #exerciseContainer > exrow > exrest {
    flex: 25 1 0;
  }
  #setRowContainer {
    width: 76%;
  }
}
@media screen and (max-width: 699px) {
  .exerciseRowContainer > #exerciseContainer > exrow {
    width: 80%;
  }
  .exerciseRowContainer > #exerciseContainer > exrow > exname {
    flex: 50 1 0;
    padding-left: 20px;
  }
  .exerciseRowContainer > #exerciseContainer > exrow > exnsets {
    flex: 25 1 0;
  }
  .exerciseRowContainer > #exerciseContainer > exrow > exrest {
    flex: 25 1 0;
  }
  #setRowContainer {
    width: 76%;
  }
  #image {
    height: 20px;
  }
  #checkmark {
    flex: 1 1 6%;
  }
}
@media screen and (max-width: 499px) {
  .exerciseRowContainer > #exerciseContainer > exrow {
    font-size: 15px;
  }
  .exerciseRowContainer > #exerciseContainer > exrow {
    width: 84%;
  }
  #setRowContainer {
    width: 90%;
  }
}
