#secondsSpan {
  font-size: 80px;
  color: #383838;
}
#setCompleteBut {
  width: 150px;
  height: 40px;
  margin-top: 30px;

  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.123);
  background-color: #86f371;

  font-size: 1.2em;
  font-family: "Merriweather", serif;
  font-weight: 500;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#totalTime {
  padding-top: 40px;
  font-size: 3.3em;
  color: rgb(104, 104, 104);
}
.bottomButton {
  width: 130px;
  height: 30px;
  margin: 15px;

  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.123);
  background-color: #ffc875;

  font-size: 1em;
  font-family: "Merriweather", serif;
  font-weight: 500;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#secondsPlusMinus {
  height: 20px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
#plusBut {
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.349);
  height: 90%;
  background-color: #f8e7d4;
  cursor: pointer;
}
#minusBut {
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.349);
  height: 90%;
  background-color: #f8e7d4;
  cursor: pointer;
}
@media screen and (max-width: 800px) and (min-width: 700px) {
  .bottomButton {
    margin: 10px;
    font-size: 0.7em;
  }
  #timer {
    font-size: 16px;
  }
  #secondsSpan {
    font-size: 80px;
  }
}
@media screen and (max-width: 700px) {
  #timer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #secondsSpan {
    font-size: calc(3px + 10vw);
    color: #383838;
  }
  #secondsPlusMinus {
    width: 100% !important;
    height: 100% !important;
    font-size: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-right: 2vw;
  }
  #plusBut {
    height: 100%;
    width: 100%;
  }
  #minusBut {
    height: 100%;
    width: 100%;
  }
  #setCompleteBut {
    width: 30%;
    height: 100%;
    margin-top: 0;

    font-size: 1.2em;
    font-family: "Merriweather", serif;
    font-weight: 500;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
